/* Universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
    color: whitesmoke;
}

body {
    background-image: url("https://cdn.mos.cms.futurecdn.net/253MzWzDFZpiHVY2S4PKfM-320-80.jpg");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
    align-content: center;
}

div {
    height: 100px;
    width: 170px;
    margin-top: 35px;
}

div > p {
    font-size: 20px;
    padding-top: 90px;
    text-align: center;
    letter-spacing: 0;
}

.worker {
    background-image: url("./images/reddalek.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.drone {
    background-image: url("./images/bluedalek.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.queen {
    background-image: url("./images/master.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#button {
    background-image: url("./images/tardis.png");
    background-size: cover;
    cursor: pointer;
    height: 195px;
    width: 200px;
    margin: 0 auto;
    margin-top: 15px;
}

#button:hover {
   transform: scale(1.1);
}

.main-container div {
    display: none;
}

.main-container .space {
    display: block;
}

h2 {
    margin-top: 9px;
}

.dead {
    display: none;
}

#message {
    display: none;
}

#win {
    position: absolute;
    color: red;
    font-size: 38px;
    width: 100%;
    height: 100%;
    background-image: url("https://media.giphy.com/media/yofF3jZzbvUgE/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
}