/* Universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
    color: whitesmoke;
}

body {
    background-image: url("https://cdn.mos.cms.futurecdn.net/253MzWzDFZpiHVY2S4PKfM-320-80.jpg");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 3%;
    align-content: center;
}

div {
    height: 120px;
    width: 170px;
    margin-top: 4%;
}

div > p {
    font-size: 22px;
    font-weight: 500;
    padding-top: 75%;
    text-align: center;
    letter-spacing: 0;
}

.worker {
    background-image: url("./images/reddalek.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.drone {
    background-image: url("./images/bluedalek.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.queen {
    background-image: url("./images/master.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#button {
    background-image: url("./images/tardis.png");
    background-size: cover;
    cursor: pointer;
    height: 220px;
    width: 200px;
    margin: 0 auto;
    margin-top: 5%;
}

#button:hover {
    border: 3px solid white;
}

h2 {
    margin-top: 15px;
}

#dead {
    display: none;
}

#message {
    display: none;
}

#win {
    color: red;
    font-size: 44px;
}